body {
	background-color: darkgrey;
	color: blue;
}

.ClockCalendar {
	width: 220px;
	height: 140px;
	padding: 15px;
	margin: 100px auto;
	outline: 1px solid black;
}

.hovered {
	color: red;
}

#cc::shadow > div {
	width: 200px;
	height: 120px;
	margin: 10px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	background-color: lightblue;
}

#cc::shadow > div > div {
	color: navy;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}